<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
<div class="signup-container">
    <h2>Criar Conta</h2>
    <form id="signupForm">
        <input type="text" id="name" placeholder="Nome Completo" required>
        <input type="email" id="email" placeholder="E-mail" required>
        <input type="password" id="password" placeholder="Senha" required>
        <input type="password" id="confirmPassword" placeholder="Confirmar Senha" required>
        
        <button onclick="cadastrar()">Cadastrar</button>
    </form>
    
    <div id="message"></div>
    <a href="/login" class="link-login">Já tem uma conta? Faça login</a>
</div>

<script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>

</body>
</html>
