<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - TableTrack</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="login-container">
    <h2>Entrar</h2>

    <div class="form-group">
        <input id="email" type="email" placeholder="Email" required>
    </div>

    <div class="form-group">
        <input id="password" type="password" placeholder="Senha" required>
    </div>

    <button onclick="login()">Login</button>
    <a href="/cadastro">Não conseguiu acessar? Cadastre-se</a>

    <p id="message"></p>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>
